server {
    listen 80;

    root {{ website_root }};
    index index.html;

    server_name {{ ansible_ec2_public_hostname }};

    location / {
        default_type "text/html";
        try_files $uri.html $uri $uri/ =404;
    }
}
