.text {
    color: rgb(49, 48, 48);
    font-family: monospace;
    font-size: 90px;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25%
}